*{
  overflow: hidden;
}
.sidebar-wrapper {
  background-color: #0c40af;
  transition: all 0.3s ease;
  overflow: hidden;
  padding: 0 !important;
  border: none;

 
}


mat-sidenav-container {
  height: 100vh;
  overflow: hidden;
}

mat-sidenav {


  color: white;
  overflow: hidden;
}
