<div class="logo flex items-center gap-2">
  <img src="assets/icones/jambox-logo.png" alt="JamBox Logo" class="jambox-logo">
</div>


<div class="sidebar-principal">
  <mat-nav-list>
    <a mat-list-item class="menu-item" routerLink="/dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon class="icones">dashboard</mat-icon>
      <span>Dashboard</span>
    </a>

    <a mat-list-item class="menu-item" routerLink="/usuarios" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon class="icones">group</mat-icon>
      <span>Usuários</span>
    </a>

    <a mat-list-item class="menu-item" routerLink="/ensaios" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon class="icones">event</mat-icon>
      <span>Ensaios</span>
    </a>

    <a mat-list-item class="menu-item" routerLink="/repertorio" routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon class="icones">library_music</mat-icon>
      <span>Repertório</span>
    </a>

    <a mat-list-item class="menu-item" routerLink="/shows" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon class="icones">mic</mat-icon>
      <span>Shows</span>
    </a>

    <a mat-list-item class="menu-item" routerLink="/financeiro" routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon class="icones">attach_money</mat-icon>
      <span>Financeiro</span>
    </a>
  </mat-nav-list>
</div>