<div class="logo mb-4 text-xl font-bold px-2 pb-2">
  JamBox
</div>

<mat-nav-list>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
    <mat-icon class="icones">dashboard</mat-icon>
    <span>Dashboard</span>
  </a>
  <a mat-list-item routerLink="/usuarios" routerLinkActive="active-link">
    <mat-icon class="icones">group</mat-icon>
    <span>Usuários</span>
  </a>
  <a mat-list-item routerLink="/ensaios" routerLinkActive="active-link">
    <mat-icon class="icones">event</mat-icon>
    <span>Ensaios</span>
  </a>
  <a mat-list-item routerLink="/repertorio" routerLinkActive="active-link">
    <mat-icon class="icones">library_music</mat-icon>
    <span>Repertório</span>
  </a>
  <a mat-list-item routerLink="/shows" routerLinkActive="active-link">
    <mat-icon class="icones">mic</mat-icon>
    <span>Shows</span>
  </a>
  <a mat-list-item routerLink="/financeiro" routerLinkActive="active-link">
    <mat-icon class="icones">attach_money</mat-icon>
    <span>Financeiro</span>
  </a>
</mat-nav-list>