<div class="sidebar-top-bar">
  <img src="assets/icones/jambox-mini-2.png" alt="JamBox Mini" *ngIf="!isSidebarCollapsed" class="jambox-mini-icon" />
  <span class="menu-titulo" *ngIf="!isSidebarCollapsed">{{ menuSelecionado }}</span>

  <button mat-icon-button class="menu-btn" (click)="emitToggle()">
    <mat-icon>menu</mat-icon>
  </button>
</div>

<div class="busca-item" (click)="abrirBusca()">
  <mat-icon class="icones">search</mat-icon>

  <ng-container *ngIf="ativarBusca">
<input
  *ngIf="ativarBusca"
  #inputBusca
  type="text"
  class="input-busca"
  [(ngModel)]="valorBusca"
/>
  </ng-container>
</div>


<hr class="sidebar-divider" />


<div class="sidebar-principal" [class.collapsed]="isSidebarCollapsed">
  <mat-nav-list>
    <a mat-list-item class="menu-item" routerLink="/dashboard" routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }" (click)="selecionarMenu('Dashboard')">
      <mat-icon class="icones">dashboard</mat-icon>
      <span>Dashboard</span>
    </a>

    <a mat-list-item class="menu-item" routerLink="/usuarios" routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }" (click)="selecionarMenu('Usuários')">
      <mat-icon class="icones">group</mat-icon>
      <span>Usuários</span>
    </a>

    <a mat-list-item class="menu-item" routerLink="/ensaios" routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }" (click)="selecionarMenu('Ensaios')">
      <mat-icon class="icones">event</mat-icon>
      <span>Ensaios</span>
    </a>

    <a mat-list-item class="menu-item" routerLink="/repertorio" routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }" (click)="selecionarMenu('Repertório')">
      <mat-icon class="icones">library_music</mat-icon>
      <span>Repertório</span>
    </a>

    <a mat-list-item class="menu-item" routerLink="/shows" routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }" (click)="selecionarMenu('Shows')">
      <mat-icon class="icones">mic</mat-icon>
      <span>Shows</span>
    </a>

    <a mat-list-item class="menu-item" routerLink="/financeiro" routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }" (click)="selecionarMenu('Financeiro')">
      <mat-icon class="icones">attach_money</mat-icon>
      <span>Financeiro</span>
    </a>
  </mat-nav-list>
  <div class="sidebar-usuario">
    <img src="assets/icones/avatar.png" alt="Usuário" class="avatar" />
    <div class="usuario-info" *ngIf="!isSidebarCollapsed">
      <span class="bem-vindo">Hi there,</span>
      <span class="nome">Eliane</span>
    </div>
  </div>
</div>