.sidebar-principal {
  height: 100vh;
  background-color: transparent;
  color: white;
  transition: all 0.3s ease;
  overflow: hidden;

  &.collapsed {
    width: 60px; 

   
  
    .menu-item span {
      display: none;
    }

    .logo {
      display: none;
    }

    .icones {
      margin: 0 auto;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 60px;
  transition: all 0.3s ease;
}

.sidebar-principal.collapsed + .logo img {
  margin: 0 auto;
}


.menu-btn {
  background: none;
  border: none;
  color: white;
  margin-bottom: 10px;
  position: relative;
  z-index: 100;
}



:host {
  display: flex;
  flex-direction: column;
  height: 80%;
  background-color: transparent; 
  color: white;
  font-family: 'Roboto', sans-serif;
}

.jambox-logo {
  width: 120px;
  height: auto;
  filter: brightness(0) invert(1);
  transition: transform 0.3s ease;
  margin-left: 20%;
}

.jambox-logo:hover {
  transform: scale(1.05);
}

mat-nav-list {
  padding: 0;
  flex: 1;
  overflow: hidden;
}

a.mat-list-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
  height: 48px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  transition: all 0.2s ease;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
  height: 48px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  transition: all 0.2s ease;

  &:hover {

    transform: scale(1.03);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }
}


.mat-icon.icones {
  font-size: 24px;
  margin-right: 10px;
  vertical-align: middle;
  color: #f0f1f4;
}

span {
  color: #f0f1f4;
}
