.sidebar-principal {
  height: 100vh;
  background-color: transparent;
  color: white;
  transition: all 0.3s ease;
  overflow: hidden;

  &.collapsed {
    width: 60px; 

    .menu-item:not(.busca-item) span {
      display: none;
    }   
  

    .logo {
      display: none;
    }

    .icones {
      margin: 0 auto;
    }
  }
}

.sidebar-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  padding: 8px 4px;
  color: white;
}

.menu-titulo {
  margin-top: 15%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-divider {
  border: none;
  border-top: 1px solid #333;
  margin: 12px 8px;
}

.sidebar-usuario {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: auto;
  padding: 12px 8px 0 8px;
  border-top: 1px solid #333;

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  .usuario-info {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #ccc;

    .bem-vindo {
      font-size: 12px;
      color: #888;
    }

    .nome {
      font-weight: bold;
      color: white;
    }
  }
}

.jambox-mini-icon {
  width: 113%;
  margin-left: -47%;
  margin-right: -50%;
  margin-bottom: -17%;
  height: auto;
  filter: brightness(0) invert(1); // branco no fundo escuro
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 60px;
  transition: all 0.3s ease;
}

.sidebar-principal.collapsed + .logo img {
  margin: 0 auto;
}


.menu-btn {
  margin-top: 18%;
  background: none;
  border: none;
  color: white;
  margin-bottom: 10px;
  position: relative;
  z-index: 100;
}



:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: transparent; 
  color: white;
  font-family: 'Roboto', sans-serif;
}


.jambox-logo {
  width: 83px;
  filter: brightness(0) invert(1);
  transition: transform 0.3s ease;
}





.jambox-logo:hover {
  transform: scale(1.05);
}

mat-nav-list {
  padding: 0;
  flex: 1;
  overflow: hidden;
}

a.mat-list-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
  height: 48px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  transition: all 0.2s ease;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
  height: 48px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  transition: all 0.2s ease;
  &:hover {

    transform: scale(1.03);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }
}

.busca-item {
  width: 90%;
  border: 1px solid #ffffff33;
  border-radius: 8px;
  padding: 0px 7px;
  margin: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.084);
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: text;
  box-sizing: border-box;
  z-index: 1;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .input-busca {
    background: transparent;
    border: none;
    color: white;
    outline: none;
    font-size: 14px;
    width: 100%;
  }
}


.mat-icon.icones {
  font-size: 24px;
  margin-right: 10px;
  vertical-align: middle;
  color: #f0f1f4;
}

span {
  color: #f0f1f4;
}


